<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>

<script type="text/javascript" src="/js/memberScript.js"></script>

		<form action="login" name="form1" method="post">
			<table class="table" style="width: 300px; margin: auto;">
				<tr align="center">
					<td>아이디</td>
					<td><input type="text" name="id"></td>
				</tr>
				<tr align="center">
					<td>비밀번호</td>
					<td><input type="password" name="pwd"></td>
				</tr>
				<tr align="center">
					<td colspan="2">
						<input type="submit"value="로그인" onclick="checkLogin()">
						<input type="button" value="회원가입" onclick="location.href='writeForm'">
					</td>
				</tr>
			</table>
		</form>
		<a href="/main">메인화면</a>

</body>
</html>